<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{#m}}{{title}}{{/m}}</title>
        <link rel="stylesheet" href="dump/explore/reset.css"></link>
        <link rel="stylesheet" href="dump/explore/style.css"></link>
        <link rel="stylesheet"
              href="//unpkg.com/@highlightjs/cdn-assets@10.7.2/styles/default.min.css">
        <script src="//unpkg.com/@highlightjs/cdn-assets@10.7.2/highlight.min.js"></script>
    </head>
    <body style="padding-bottom: 10vh;">
        <a href="/">
            <div style="background-color: #d44000; color: #fff">
                <div class="narrow">
                    <h1>The <em>Dump</em> Project</h1>
                    <p><a href="https://www.slightknack.dev/">'Crafted' /s by Isaac Clayton</a></p>
                </div>
            </div>
        </a>
        <div class="narrow">
            <h1>{{#m}}{{title}}{{/m}}</h1>
            <p class="tag"><strong>Created:</strong> {{#m}}{{created_human}}{{/m}}<br><strong>Last Edited:</strong> {{#m}}{{modified_human}}{{/m}}</p>
            {{#parent}}<p>↖ Back to <a href="/{{link}}">{{title}}</a>?</p>{{/parent}}
            <hr>
            {{{content}}}
        </div>
    </body>
</html>
