<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{metadata.title}}</title>
    </head>
    <body>
        <h1>{{metadata.title}}</h1>
        <hr>
        {{{content}}}
    </body>
</html>
