{{{content}}}
<br>
{{#children}}
<a href="/dump/{{link}}/index.html">
<div class="boxed">
    <h1 style="margin-top: 2vh;">{{title}}</h1>
    <p class="tag">Last edited {{modified_human}}.</p>
</div>
</a>
{{/children}}
